<div class="footer">
    <div class="footer-bottom">
        <span id="social-media-nav">
            <ul>
                <li><a href="#"><i class="fab fa-instagram" id="social-media-links"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook" id="social-media-links"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter" id="social-media-links"></i></a></li>
            </ul>
        
        
            </span>
            <img src="images/footer-bg.png">
        </div>
    </div>
</div>
</main>
</div>
<script src="/js/nav.js"></script>  
</body>
</html>