<div class="nav">
    <ul class="nav-items">
        <li id="logo">
           <a href="/"><img src="/images/coldwater logo.png"></a>
        </li>
        <li><a href="/visit">VISIT</a></li>
        <li><a href="/trail-system">TRAIL SYSTEM</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li><a href="/shop">SHOP</a></li>
        <li><a href="/cart">CART</a></li>
    </ul>
    <div class="mobile-nav">
        <ul>
            <li id="logo">
               <a href="/"><img src="/images/coldwater logo.png"></a>
            </li>
            <li>
                <div class="burger">
                    <div class="burger-bar"></div>
                    <div class="burger-bar"></div>
                    <div class="burger-bar"></div>
                </div>
            </li>
        </ul>   
    </div>
    
    
</div>
<div class="mobile-nav-hidden">
    <ul>
        <li><a href="/visit">VISIT</a></li>
        <li><a href="/trail-system">TRAIL SYSTEM</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li><a href="/shop">SHOP</a></li>
        <li><a href="/cart">CART</a></li>
    </ul>
</div>
