<%- include('./includes/head.ejs') %>
<body>
<main class="main-content">   
    <section class="section-container" id="section2">
        <div class="content-container">
            <div class="block-content">

                
                <div class="block-content-content" style="text-align: center;">
                    <br>
                    <p style="width: 88%; margin-left: auto; margin-right: auto; display: flex;">
                        <h1>ERROR 404</h1>
                        <br>
                        <h3>Page Not Found!</h3>
                    </p>
                    
                   
                </div>
                
            
                
            </div>
            </div>
        </div>               
    </section>
    

</main>
<div class="footer">
    <div class="footer-bottom">
        <img src="../images/footer-bg.png">
        <span id="social-media-nav">
            <ul>
                <li><a href="#"><i class="fab fa-instagram" id="social-media-links"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook" id="social-media-links"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter" id="social-media-links"></i></a></li>
            </ul>
        </div>
    </div>
</div>
</main>
</div>
<script src="/js/nav.js"></script>  
</body>
</html>