<%- include('./includes/head.ejs') %>
<body>
<main class="main-content">   
    <section class="section-container" id="section2">
        <div class="content-container">
            <div class="block-content">
                
                <div class="block-content-header">
                    <h1>THE CREW</h1>
                </div>
                <div class="block-content-content">
                    <div class="block-content-images">
                        <img src="/images/tb3.jpg">
                    </div>
                    
                </div>
                <div class="block-content-content" style="text-align: center;">
                    <br>
                    <p style="width: 88%; margin-left: auto; margin-right: auto;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum natus corporis facilis? 
                        Nobis facere quam nesciunt ullam debitis ab quidem. Accusamus maiores pariatur iste, maxime suscipit fugit deserunt quam sequi.
                    </p>
                    <br>
                    <div class="block-content-images" style="margin-top: 5%;">
                        <img src="/images/tb2.jpg">
                    </div>
                </div>
                
            <div class="block-content">

                <div class="block-content-header">
                    <h2 style="margin-top: 5%;">COMMUNITY</h2>
                </div>
                <div class="block-content-content" style="text-align: center;">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quasi officia atque impedit adipisci dolorem enim maxime error, quaerat distinctio in recusandae hic, labore dolor, ipsam nam blanditiis explicabo vel.</p>
                </div>
                <div class="block-content-images" style="margin-top: 10%;">
                    <img src="/images/tb1.jpg">
                </div>
                <div class="block-content-header">
                    <h2 style="margin-top: 5%;">VOLUNTEER</h2>
                    
                </div>
                <div class="block-content-content" id="camping-images" style="text-align: center;">
                    <p>Want to help keep Coldwater Mountain beautiful? Never built a trail before? That's OK! 
                        No matter what your level of experience, the trail team is always looking for helping hands! 
                    </p>
                        
                    <div class="centered-btn-container"><a href="about/volunteer"><h3>VOLUNTEER</h3></a></div>
                    </div>

                </div>
                
            </div>
            </div>
        </div>               
    </section>
    

</main>

<%- include('./includes/footer.ejs') %>