<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/css/fontawesome/css/all.css" type="text/css">
    <link rel="stylesheet" href="/css/calender.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Libre+Baskerville:wght@400;700&family=Public+Sans:wght@400;600&family=Source+Sans+Pro:wght@400;600;900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<%- include('./includes/nav.ejs') %>
<body>
<main class="main-content">   
    <section class="section-container" id="section2">
        <div class="content-container">
            <div class="block-content">
                <div class="block-content-header">
                    <h1>CALENDER</h1>
                </div>
                <div class="block-content-content">
                    <div style="background:#fff;width:628px;"><iframe src="https://www.availcalendar.com/print/12223?mode=3" width="628" height="251" frameborder="0" scrolling="no"></iframe></div>
                    
                        
                </div>
            </div>
        </div>               
    </section>
    

</main>

<div class="footer">
    <div class="footer-bottom">
        <img src="images/footer-bg.png">
        <span id="social-media-nav">
            <ul>
                <li><a href="#"><i class="fab fa-instagram" id="social-media-links"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook" id="social-media-links"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter" id="social-media-links"></i></a></li>
            </ul>
        </div>
    </div>
</div>
</main>
</div>
<script src="/js/nav.js"></script>
<script src="/js/calender.js"></script>  
</body>
</html>