<%- include('./includes/head.ejs') %>
<body>
    <div class="content">
        <main class="section1">
            
            <div class="first-content">
                
                    <div id="home-img">
                        <div id="home-headers">
                            <h1>COLDWATER</h1>
                            <h1>MOUNTAIN</h1>
                            <h3>#ridethecold</h3>

                        </div>
                        
                    </div>
                    
        
            </div>
            <div class="first-content-mobile">
                <img src='/images/coldwater1.jpg'>
                <div class="landing-intro-mobile">
                    <div id="home-headers">
                        <h1>COLDWATER</h1>
                        <h1>MOUNTAIN</h1>
                        <h3>#ridethecold</h3>

                    </div>
                    
                </div>
            </div>
            <section class="section-container" id="section2">
                <div class="content-container">
                    <div class="block-content">
                        <div class="block-content-header">
                            <h1 id="intro-header">SHRED THE SOUTH</h1>
                        </div>
                        <div class="block-content-content">
                            <p>With more than 35 miles of trails to choose from Coldwater Mountain has riding for everyone.
                                Explore red-dirt trails in a 
                                backcountry setting, shuttle the gravity runs and style out the optional technical lines, or enjoy scenic, 
                                entry-level trails that will stoke a novice rider’s fire.
                            </p>
                            <br>
                            <p>
                                Featuring the longest single descent in the southeast at 5 miles, <i>Bombdog</i> is a legendary mix of flow and tech. 
                                Somehwere between a blue and a black diamond, it's a favorite for all levels of riders. While the total elevation descent is only 800ft,
                                the trail extends that descent over 5 miles, offering you some of the flowiest of flow on the east coast.  
                            </p>
                            

                        </div>
                    <div class="block-content">
                        <div class="block-content-images">
                            <img src="/images/cw2.jpg">
                        </div>
                    </div>
                    </div>
                </div>               
            </section>
            <section class="section-container" id="section3">
                
                    <div class="block-content-header"><H2>SOUTHERN COMFORTS</H2></div>
                
                <div class="content-container-cards">
                    <div class="content-card-sm">
                        <div class="content-card-sm-img">
                            <img src="/images/cw4.jpg">
                        </div>
                        <div class="content-card-sm-header">
                            <h3>LOCATION</h3>
                        </div>
                        <div class="content-card-sm-content">
                            <p>Nearby access to singletrack for biking, hiking & running, swimming holes, waterfalls, fishing and scenic overlooks. </p>
                        </div>
                    </div>
                    <div class="content-card-sm">
                        <div class="content-card-sm-img">
                            <img src="/images/shuttle.jpg">
                        </div>
                        <div class="content-card-sm-header">
                            <h3>SHUTTLES</h3>
                        </div>
                        <div class="content-card-sm-content">
                            <p>Nearby access to singletrack for biking, hiking & running, swimming holes, waterfalls, fishing and scenic overlooks. </p>
                        </div>
                    </div>
                    <div class="content-card-sm">
                        <div class="content-card-sm-img">
                            <img src="/images/camping8.jpg">
                        </div>
                        <div class="content-card-sm-header">
                            <h3>CAMPING</h3>
                        </div>
                        <div class="content-card-sm-content">
                            <p>Nearby access to singletrack for biking, hiking & running, swimming holes, waterfalls, fishing and scenic overlooks. </p>
                        </div>
                    </div>
                    
                </div>
                
            </section>
            <section class="section-container" id="section4">
                <div class="block-content-header">
                    <h2>FEATURED IN</h2>
                    
                </div>
                <div class="content-container-cards">
                    <div class="content-card-sm">
                        <div class="content-card-sm-img-logo">
                            <img src="/images/companies/outside.png">
                        </div>
                    </div> 
                    <div class="content-card-sm">
                        <div class="content-card-sm-img-logo">
                            <img src="/images/companies/bikepacking.png">
                        </div>
                    </div>
                    <div class="content-card-sm">
                        <div class="content-card-sm-img-logo">
                            <img src="/images/companies/bike+mag.png">
                        </div>
                    </div>
                    <div class="content-card-sm">
                        <div class="content-card-sm-img-logo">
                            <img src="/images/companies/Mountain_Bike.png">
                        </div>
                    </div>       
                </div>
                <div class="content-container-cards">
                    <div class="content-card-sm">
                        <div class="content-card-sm-img-logo">
                            <img src="/images/companies/pink+bike.png">
                        </div>
                    </div>
                    <div class="content-card-sm">
                        <div class="content-card-sm-img-logo">
                            <img src="/images/companies/travel+channel.png">
                        </div>
                    </div>
                    <div class="content-card-sm">
                        <div class="content-card-sm-img-logo">
                            <img src="/images/companies/teton+gravity.png">
                        </div>
                    </div>
                    <div class="content-card-sm">
                        <div class="content-card-sm-img-logo">
                            <img src="/images/companies/the+radavist.png">
                        </div>
                    </div>        
                </div>
                <div class="block-content-header" id="sts"><h3>AS SEEN ON THE SINGLETRACK SAMPLER</h3></div>
                <div class="block-content-content">
                    <div class="block-content-video">
                    <iframe id="sts-video" width="853" height="480" src="https://www.youtube.com/embed/HWUoTszGtAg" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>

                    </iframe>
                    </div>
                    <div class="block-content-video-mobile">
                        <iframe id="sts-video" width="426" height="240" src="https://www.youtube.com/embed/HWUoTszGtAg" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>

                    </iframe>

                    
                    
                    </div>
                    <div class="hr-container">
                        <hr>
                    </div>
                </div>
            </section>
            <section class="section-container" id="section5">
                <div class="content-container">
                    <div class="block-content">
                        
                        <div class="block-content-header">
                            <h1>THE EXPERIENCE</h1>
                        </div>
                        <div class="block-content-images">
                            <img src="/images/cw12.jpg">
                        </div>
                        <div class="block-content-content">
                            <p id="the-experience">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur sed repudiandae pariatur ut rerum, cum recusandae! 
                                Dolorem ab, soluta cumque explicabo voluptas quidem enim ratione veritatis reprehenderit quasi, deleniti mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam consequuntur molestiae facilis dolorem nisi quod deleniti minus distinctio placeat culpa. 
                                Possimus voluptatem expedita non deserunt molestiae placeat amet alias dicta?</p>
                                
                        </div>
                        
                    </div>
                </div>
                
            </section>
            
            <section class="section-container" id="section6">
  
                <div class="content-container">
                    
                    <div class="block-content">
                        
                        
                        <div class="block-content-header">
                            <h1>ENDLESS FLOW</h1>
                        </div>
                        <div class="block-content-images">
                            <img src="/images/cw7.jpg">
                        </div>
                        <div class="block-content-content">
                            <p id="the-experience">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur sed repudiandae pariatur ut rerum, cum recusandae! 
                                Dolorem ab, soluta cumque explicabo voluptas quidem enim ratione veritatis reprehenderit quasi, deleniti mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam consequuntur molestiae facilis dolorem nisi quod deleniti minus distinctio placeat culpa. 
                                Possimus voluptatem expedita non deserunt molestiae placeat amet alias dicta?</p>
                        </div>
                        <div class="block-content-content">
                            <div class="centered-btn-container"><a href="/visit"><h3>VISIT</h3></a></div>
                        </div>
                    </div>
                </div>
                
            </section>
<%- include('./includes/footer.ejs') %>