<%- include('./includes/head.ejs') %>
<body>
<main class="main-content">   
    <section class="section-container" id="section2">
        <div class="content-container">
            <div class="block-content">
                
                <div class="block-content-header">
                    <h2>MESSAGE SENT</h2>
                </div>
                
                <div class="block-content-content" style="text-align: center;">
                    <br>
                    <p style="width: 88%; margin-left: auto; margin-right: auto;">
                        Your message has been sent! We will get back to you as soon as possible! Thanks! 
                    </p>
                   
                </div>
                
            
                
            </div>
            </div>
        </div>               
    </section>
    

</main>

<%- include('./includes/footer.ejs') %>