<%- include('./includes/head.ejs') %>
<body>
<main class="main-content">   
    <section class="section-container" id="trails-section">
        <div class="content-container">
            <div class="block-content">
                <div class="block-content-header">
                    <h1>TRAIL SYSTEM</h1>
                </div>
                <div class="block-content-content">
                    <p>More than 25 miles of trails have already been built under the direction of IMBA Trail Solutions, 
                        with up to 75 miles scheduled to be completed by 2017. To incorporate the best qualities of North America's 
                        finest trail systems, Trail Solutions is not only putting its own to work, but is inviting pro trail builders 
                        from all over the country to leave their creative signatures on the mountain. As a result, the Coldwater trails 
                        will eventually be accessible by a short ride from downtown Anniston, which itself can be reached by Amtrak train.
                    </p>
                    <br>
                    <p>
                        As of spring 2013, the city has contributed more than half a million dollars to help fund the trail system.
                         In addition, Anniston's leaders are actively courting new business, planning a renovation of the Amtrack station, 
                         building paved bike paths and lobbying the Alabama legislature to allow the city opt out of the state's ban on Sunday 
                         alcohol sales. All for mountain bikers.
                    </p>
                    

                </div>
            <div class="block-content">
                <div class="block-content-images">
                    <img src="/images/trail-system.png">
                </div>
            </div>
            </div>
        </div>               
    </section>
    <section class="section-container" id="section2">
        <div class="content-container">
            <div class="block-content">
                <div class="block-content-header">
                    <h3>TRAIL LIST</h3>
                </div>
                <div class="block-content-content">
                    <table id="trail-list">
                        <tr>
                            <th>TRAIL</th>
                            <th>LENGTH</th>
                            <th>DIFFICULTY</th>
                        </tr>
                        <tr>
                            <td>BOMBDOG</td>
                            <td>5.0mi</td>
                            <td>Intermediate/Difficult</td>
                        </tr>
                        <tr>
                            <td>HAIR</td>
                            <td>1.9mi</td>
                            <td>Intermediate</td>
                        </tr>
                        <tr>
                            <td>BABY BEAR</td>
                            <td>1.1mi</td>
                            <td>Easy/Intermediate</td>
                        </tr>
                        <tr>
                            <td>TRILLIUM</td>
                            <td>.7mi</td>
                            <td>Intermediate</td>
                        </tr>
                        <tr>
                            <td>GOLDILOCKS</td>
                            <td>1.3mi</td>
                            <td>Intermediate/Difficult</td>
                        </tr>
                        <tr>
                            <td>MAMA BEAR</td>
                            <td>2.1mi</td>
                            <td>Intermediate</td>
                        </tr>
                        <tr>
                            <td>CHILHOWEE</td>
                            <td>5.0mi</td>
                            <td>Intermediate</td>
                        </tr>
                        <tr>
                            <td>ROCKSLOT</td>
                            <td>0.9mi</td>
                            <td>Difficult</td>
                        </tr>
                        <tr>
                            <td>TALLADEGA</td>
                            <td>1.6mi</td>
                            <td>Difficult</td>
                        </tr>
                        <tr>
                            <td>OVAL OFFICE</td>
                            <td>2.6mi</td>
                            <td>Intermediate</td>
                        </tr>

                    </table>
                </div>
                <div class="block-content-content" >
                    <p style="text-align: center; margin-top: 5%;">For a more in-depth look at our trails, please visit the 
                        <a href="https://www.mtbproject.com/directory/8011828/coldwater-mountain">MTB Project.</a></p>
                </div>
            </div>
            <div class="block-content-header" style="margin-top: 15%;">
                <h2>EMERGENCIES</h2>
            </div>
            <div class="block-content-content">
                <p style="text-align: center;">Our local 911 center and emergency services know every marker on the mountain. There is also
                    cellphone reception everywhere on the mountain.
                </p>
            </div>
            <div class="block-content-header" style="margin-top: 10%;">
            <h2>HELP KEEP TRAILS CLEAN AND SAFE</h2>
            </div>
            <div class="block-content-content">
                <p style="text-align: center">If you see debris, such as downed trees from storms, or significant trail erosion please call or email us directly.</p>
                
            </div>
            <div class="block-content-header">
                <h3 style="margin-top: 5%;">(123)-456-7890</h3>
                <h3 style="margin-top: 5%;"><a href="#">info@coldwater-mountain.com</a></h3>
            </div>
        </div>               
    </section>

</main>

<%- include('./includes/footer.ejs') %>