<%- include('./includes/head.ejs') %>
<body>
<main class="main-content">   
    <section class="section-container" id="about">
        <div class="content-container">
            <div class="block-content">
                <div class="block-content-header">
                    <h1>COME VISIT</h1>
                </div>
                <div class="block-content-content">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum natus corporis facilis? 
                        Nobis facere quam nesciunt ullam debitis ab quidem. Accusamus maiores pariatur iste, maxime suscipit fugit deserunt quam sequi.
                    </p>
                    <br>
                    <p>
                        As of spring 2013, the city has contributed more than half a million dollars to help fund the trail system.
                         In addition, Anniston's leaders are actively courting new business, planning a renovation of the Amtrack station, 
                         building paved bike paths and lobbying the Alabama legislature to allow the city opt out of the state's ban on Sunday 
                         alcohol sales. All for mountain bikers.
                    </p>
                    

                </div>
                
            <div class="block-content">
                
                <div class="block-content-images">
                    <img src="/images/camping.jpg">
                </div>
                <div class="block-content-header">
                    <h2 style="margin-top: 5%;">CAMPING</h2>
                </div>
                <div class="block-content-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quasi officia atque impedit adipisci dolorem enim maxime error, quaerat distinctio in recusandae hic, labore dolor, ipsam nam blanditiis explicabo vel.</p>
                </div>
                <div class="block-content-header" style="margin-top: 10%;">
                    <h3>Dispersed Camping and Amenities</h3>
                </div>
                <div class="block-content-content">
                    <ul class="campground-accom">
                        <li>8 dispersed campsites, first come, first serve</li>
                        <li>$10 per night, max 2 vehicles per campsite</li>
                        <li>Outhouse located at the campground entrance</li>
                        <li>Please throw away all trash at dumpsters</li>
                        <li>No water onsite, please make sure to bring enough</li>
                        <li>Keep all campfires in provided fire rings</li>
                    </ul>
                </div>
                <div class="block-content-content" id="camping-images">
                    <div class="content-card-m">
                        <div class="content-card-m-img">
                            <img src="/images/camping2.jpg">
                        </div>
                    </div>
                    <div class="content-card-m">
                        <div class="content-card-m-img">
                            <img src="/images/camping8.jpg">
                        </div>
                    </div>
                    <div class="content-card-m">
                        <div class="content-card-m-img">
                            <img src="/images/camping5.jpg">
                        </div>
                    </div>
                    <div class="content-card-m">
                        <div class="content-card-m-img">
                            <img src="/images/camping6.jpg">
                        </div>
                    </div>
                        
                        
                    </div>

                </div>
                
            </div>
            </div>
        </div>               
    </section>
    <section class="section-container" id="section2">
        <div class="content-container">
            <div class="block-content">
                <div class="block-content-header">
                    <h2>SHUTTLES</h2>
                </div>
                <div class="block-content-content">
                    
                </div>
                <div class="block-content-content" style="text-align: center;">
                    <p style="text-align: center; margin-top: 5%;">Shuttles operate on weekends, Friday through Sunday. 9am to 4pm. 
                        </p>
                        <br>
                        <p>Shuttles are $10 for the day per person.</p>
                        <br>
                        <p>If you plan to ride Coldwater multiple days and/or weekends in a single month, a one month pass is available for $25.</p>
                        <p>Visit the <a href="/shop">shop</a> for more details.</p>
                </div>
            </div>
            <div class="block-content-header" style="margin-top: 10%;">
                <h2>EMERGENCIES</h2>
            </div>
            <div class="block-content-content">
                <p style="text-align: center;">Our local 911 center and emergency services know every marker on the mountain. There is also
                    cellphone reception everywhere on the mountain.
                </p>
            </div>
            <div class="block-content-header" style="margin-top: 10%;">
            <h2>HELP KEEP TRAILS CLEAN AND SAFE</h2>
            </div>
            <div class="block-content-content">
                <p style="text-align: center">If you see debris, such as downed trees from storms, or significant trail erosion please call or email us directly.</p>
                
            </div>
            <div class="block-content-header">
                <h3 style="margin-top: 5%;">(123)-456-7890</h3>
                <h3 style="margin-top: 5%;"><a href="#">info@coldwater-mountain.com</a></h3>
            </div>
        </div>               
    </section>

</main>

<%- include('./includes/footer.ejs') %>