<%- include('../includes/head.ejs') %>
<body>
<main class="main-content">   
    <section class="section-container" id="section2">
        <div class="content-container">
            <div class="block-content">
                
                <div class="block-content-header">
                    <h2>Thank You!</h2>
                </div>
                
                <div class="block-content-content" style="text-align: center;">
                    <br>
                    <p style="width: 88%; margin-left: auto; margin-right: auto;">
                        Your order has been placed! You will receive an e-mail with your order receipt. If you have any questions about your order 
                        please visit the <a href="/contact">contact</a> page.
                    </p>
                    
                   
                </div>
                
            
                
            </div>
            </div>
        </div>               
    </section>
    

</main>
<div class="footer">
    <div class="footer-bottom">
        <img src="../images/footer-bg.png">
        <span id="social-media-nav">
            <ul>
                <li><a href="#"><i class="fab fa-instagram" id="social-media-links"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook" id="social-media-links"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter" id="social-media-links"></i></a></li>
            </ul>
        </div>
    </div>
</div>
</main>
</div>
<script src="/js/nav.js"></script>  
</body>
</html>